/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom 
* Name of section / Search term

1. Backgrounds and sizing / #Backgrounds
3. Navigation / #Navbar
4. Company name and description / #Company
5. Social Media Buttons / #Social 
6. About Me / #About
7. List of Projects / #Portfolio
8. Contact Form / #Contact
9. Media Queries / #Media
------------------------------------------------------------------**/


/* #Backgrounds
================================ */


#background {
    background-color: #cecece;
}

#section1 {
    background-color: #4a5051;
    padding: 55px;
}


.about-me {
    background-attachment: fixed;
    height: 400px;
}

#section2 {
    background-color: #cecece;
    padding: 55px;
}

#section3 {
	background-color: #4a5051;
    padding: 20px 0 55px 0;
}

.row {
  padding-right: 0px;
  margin-right: 0px;
}

/* #Navbar
================================ */

.navbar-default {
    background: #51535a;
    border: #51535a;
}

.navbar-default .navbar-brand {
    color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.navbar a.highlight:hover {
    color:black;
    background-color: white;
}

ul.highlight li:hover {
    background-color: white;
}

/* #Company
================================ */

.company {
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent !important;
	color: #586265;
}

.company h2 {
	font-size: 5em;
    color: #3c71a1;	
}

.jumbotron > .heading-line {
    border-top-color: #0099CC;
}
/* #Social
================================ */

i {
    padding-right: 5px;
}

.fa-linkedin {
    text-align: center;
}

.social-icon {
	margin-bottom: 10%;
}

/* Button Animation  */
.btn {
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.btn:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}

/* #About
================================ */

.img-circle {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
}

.about-me {
    padding-top: 2em;
    color: whitesmoke;
    font-size: 16px;
    
}

.about-header {
    font-family: 'Ubuntu', sans-serif;
    color: #151010
}

/* #Portfolio
================================ */

.portfolio-header {
    font-family: 'Ubuntu', sans-serif;
    color: #586265;
    padding-bottom: 10px;
}

.project {
	font-family: 'Ubuntu', sans-serif;
    color: #3c71a1;
}

.project-description {
	color: #2b3031;
    font-size: 16px;
}

.portfolio-projects {
    height: 202.844px;
    width: 355px;
}


/* #Contact
================================ */
.contact-header {
    font-family: 'Ubuntu', sans-serif;
    color: #151010;
}

.contact-form-description {
    color: whitesmoke;
}

/* #Media
================================ */

/* Mobile devices (phones) */
@media (min-width:320px) and (max-width: 500px) {
    .form-mobile {
        margin-left: 3%;
    }
    #section1 {
        padding: 20px 0 20px 0;
    }
}

/* Desktop resize */
@media (min-width:100px) and (max-width: 300px) {
    #section1 {
        padding: 20px 0 20px 0;
    }
}
