/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom 

1. Background Image(s) / #Background
2. Navigation / #Navbar
3. Company name and description / #Company
------------------------------------------------------------------**/

/* #Background
================================ */
#mainContent {
    background-image: url('https://40.media.tumblr.com/1b916597d3e174399cb7adadddb66ede/tumblr_nt5uk4psl31ud7rr3o1_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* #Navbar
================================ */

.col-md-12 {
    background: #a8a6a7 ;
}

.navbar-default .navbar-brand {
    color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.navbar a.highlight:hover {
    color:black;
    background-color: white;
}

ul.highlight li:hover{
    background-color: white;
}

/* #Company
================================ */

.jumbotron {
    background-color: transparent !important;

}
