/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom 
* Name of section / Search term

1. Backgrounds and sizing / #Backgrounds
3. Navigation / #Navbar
4. Company name and description / #Company
5. Social Media Buttons / #Social 
6. About Me / #About
7. List of Projects / #Portfolio
------------------------------------------------------------------**/


/* #Backgrounds
================================ */

body.modal-open {
    overflow: hidden;
    position: fixed;
}

body.viewport-lg {
    position: absolute;
}

body {
    overflow-x: hidden;
    overflow-y: scroll !important;
}

#mainContent {
    background-color: #3B3738;
}

#content1 {
    background-color: #DFE2DB;
}


.content {
    background-attachment: fixed;
    height: 400px;
}

#content3 {
    background-color: #3B3738;
}

#content4 {
	background-color: #DFE2DB;
    padding-top: 2%;
    padding-bottom: 50px;
}

/* #Navbar
================================ */

.navbar-default {
    background: #51535a;
    border: #51535a;
}

.navbar-default .navbar-brand {
    color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.navbar a.highlight:hover {
    color:black;
    background-color: white;
}

ul.highlight li:hover {
    background-color: white;
}

/* #Company
================================ */

.company {
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent !important;
	color: grey;
}

.company h2 {
	font-size: 5em;
    color: #3c71a1;	
}

/* #Social
================================ */

i {
    padding-right: 5px;
}

.fa-linkedin {
    text-align: center;
}

.social-icon {
	margin-bottom: 10%;
}

/* Button Animation  */
.btn {
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.btn:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}

/* #About
================================ */

.img-circle {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
}

.about-me {
    padding-top: 2em;
    color: #35353a;
	font-weight: bold;
    
}

.about-header {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

/* #Portfolio
================================ */

.portfolio-header {
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
}

.project {
	font-family: 'Ubuntu', sans-serif;
    color: #3c71a1;
}

.project-description {
	color: whitesmoke;
}
