/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom 

1. Parallax Scrolling / #Parallax
3. Navigation / #Navbar
4. Company name and description / #Company
5. Social Media Buttons / #Social 
6. About Me / #About
------------------------------------------------------------------**/


/* #Parallax
================================ */

#mainContent {
    background: url('https://upload.wikimedia.org/wikipedia/commons/d/d4/San_Francisco_Skyline.jpg') no-repeat fixed center;
    background-size: cover;
}

#content1 {
    background: url("https://upload.wikimedia.org/wikipedia/commons/5/5b/A_wanderer_dancing_the_dance_of_stars_and_space.jpg") no-repeat fixed center;
    background-size: cover;
}


.content {
    background-attachment: fixed;
    height: 400px;
}


/* #Navbar
================================ */

.navbar-default {
    background: #51535a;
    border: #51535a;
}

.navbar-default .navbar-brand {
    color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.navbar a.highlight:hover {
    color:black;
    background-color: white;
}

ul.highlight li:hover {
    background-color: white;
}

/* #Company
================================ */

.company {
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent !important;
	color: grey;
}

.company h2 {
	font-size: 5em;
    color: #3c71a1;	
}

/* #Social
================================ */

.social {
    text-align: center;
}

i {
    padding-right: 5px;
}

.fa-linkedin {
    text-align: center;
}

.social-icon {
	margin-bottom: 10%;
}

/* Button Animation  */
.btn {
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
    transition:all 0.5s ease-out;
}

.btn:hover {
  -webkit-transform:scale(1.3);
  -moz-transform:scale(1.3);
  -ms-transform:scale(1.3);
  -o-transform:scale(1.3);
  transform:scale(1.3);
}

/* #About
================================ */

.img-circle {
    display: block;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius: 100%;
}

.about-me {
    padding-top: 2em;
    text-align: center;
    color: white;
    
}

.about-header {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}
