/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom 

1. Background Image(s) / #Background
2. Navigation / #Navbar
3. Company name and description / #Company
------------------------------------------------------------------**/

/* #Background
================================ */
#mainContent {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d4/San_Francisco_Skyline.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* #Navbar
================================ */

.navbar-default {
    background: #51535a;
    border: #51535a;
}

.navbar-default .navbar-brand {
    color: black;
}

.nav.navbar-nav.navbar-right li a {
    color: black;
}

.navbar a.highlight:hover {
    color:black;
    background-color: white;
}

ul.highlight li:hover{
    background-color: white;
}

/* #Company
================================ */

.company {
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent !important;
	color:black;
}

.company h2 {
	font-size: 5em;
    color: #3c71a1;	
}


