/**------------------------------------------------------------------
[Table of Contents]
*Organized from top to bottom 

1. Background Image / #Background
2. Navigation / #Navbar
3.
------------------------------------------------------------------**/

/* #Background
================================ */
#mainContent {
	background-image: url('https://40.media.tumblr.com/1b916597d3e174399cb7adadddb66ede/tumblr_nt5uk4psl31ud7rr3o1_1280.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/* #Navbar
================================ */
.navbar a.highlight:hover {
	background-color: aqua;
}

ul.highlight li:hover{
	background-color: aqua;
}